


/* Portfolio */
@media (max-width: 1235px) {
  .formatPortfolio1 {
    left: 10px;
  }
  
  .formatPortfolio2 {
    right: 10px;
  }

  .container-fluid {
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .formatPortfolio1 {
    left: 0px;
  }
  
  .formatPortfolio2 {
    right: 0px;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }

  .jumbotron {
    height: 260px;
  }

  .resumeButton {
    float: right;
    position: relative; 
    display: inline-flex;
    height: 40px;
    width: 200px;
    border: 1.5px solid white;
    margin: 120px 20px 20px 20px;
    color: white;
    background-color: #a81047;
    text-decoration: none;
    font-size: .9em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .typewriter h1 {
    display: none;
  }

  .formatPortfolio1 {
    left: 0px;
  }
  
  .formatPortfolio2 {
    right: 0px;
  }

  .formatPortfolio3 {
    left: 50px;
  }

  h5 {
    margin-top: 10px;
  }

  #emailHeader {
    font-family: 'Fjalla One', sans-serif;
    color: #484e58;
    font-size: 28px;
    margin: 60px 40px 160px 40px;
    text-align: center;
    text-decoration: none;
  }
}