.clearfix {
  overflow: auto;
}

body {
  font-family: 'Assistant', sans-serif;
  color: #484e58;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../images/space.jpg);
  height: 360px;
  text-align: center;
  color: white; 
}

header {
  position: relative; 
  top: 40px;
}

.display-4 {
  font-family: 'Crete Round', serif;
  font-size: 90px;
}

/* Text underline hover effect */
.display-4:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.display-4:hover:after { 
  width: 100%; 
  left: 0; 
}

.lead {
  font-size: 30px;
  position: relative; 
  bottom: 15px;
}

#button {
  padding: 5px 15px 5px 15px;
  float: right;
  position: relative; 
  top: 45px;
  color: white;
  background-color: #484e58;
}


/* About section styling */
/* Profile photo */
#profilePic {
  width: 180px;
  height: auto;
  border-radius: 50%;
}

#picContainer {
 text-align: center;
}

#pic {
  display: inline-block;
}

#profilePic:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#centerHeader {
  text-align: center;
}

#aboutMeHeader {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  display: inline-block;
}

#aboutMe {
  text-align: center;
}

.bio {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}
  
h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
  background: white;
  color: #eed9e7;
  text-shadow: .5px .5px #b892a7;
  margin: 30px 0px 0px 65px;
}


/* Portfolio */
h5 {
  font-family: 'Crete Round', serif;
  font-size: 20px;
  display: inline-block;
}

#portfolioHeader {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  display: inline-block;
}

.container-fluid {
  margin: 0 auto;
  margin-left: 40px;
}

.row1 .row2 {
  margin-top: 2.5%;
}

.box {
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.box1 .box2 .box3 .box4 .box5 .box6 {
  background-color: black;
}

.portfolioImage {
  width: 100%;
  max-width: 420px;
  height: auto;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-timing-function: ease-in;
  transition: 1.5s;
}

.portfolioImage:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition-timing-function: ease-in;
  transition: 1s;
}



/* Footer */
/* Styles footer and fixes it to bottom */
.footer {
  background-image: url(../images/space.jpg);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85px;
  text-align: center;
  z-index: 100;
}
  
#github {
  height: 30px;
  width: auto;
  margin-top: 20px;
  padding: 0px 20px 0px 15px;
}

#github:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#linkedin {
  height: 30px;
  width: auto;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
}

#linkedin:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#twitter {
  height: 34px;
  width: auto;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
}

#twitter:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.logos {
  display: inline-block;
}

.copyright {
  color: white;
  font-size: 10px;
  margin-top: 10px;
}
