body {
  font-family: 'Assistant', sans-serif;
  color: #484e58;
}

/* Prevents links from showing up as blue */
a {
  color: inherit;
}

hr {
  width: 80%;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../images/space.jpg);
  height: 360px;
  text-align: center;
  color: white; 
}

header {
  position: relative; 
  top: 40px;
}

.display-4 {
  font-family: 'Crete Round', serif;
  font-size: 90px;
}

/* Text underline hover effect */
.display-4:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.display-4:hover:after { 
  width: 100%; 
  left: 0; 
}

.lead {
  font-size: 30px;
  position: relative; 
  bottom: 15px;
}

#button {
  padding: 5px 15px 5px 15px;
  float: right;
  position: relative; 
  top: 45px;
  color: white;
  background-color: #484e58;
}

#emailAddress {
  font-size: 20px;
  
}


/* About section styling */
/* Profile photo */
#profilePic {
  width: 180px;
  height: auto;
  border-radius: 50%;
}

#picContainer {
 text-align: center;
}

#pic {
  display: inline-block;
}

#profilePic:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#centerHeader {
  text-align: center;
}

#aboutMeHeader {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}

#aboutMe {
  text-align: center;
}

.bio {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}
  
h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 50px;
  background: white;
  color: #eed9e7;
  text-shadow: .5px .5px #b892a7;
  margin: 30px 0px 0px 65px;
}


/* Portfolio */
h5 {
  font-family: 'Crete Round', serif;
  font-size: 20px;
  display: inline-block;
}

#portfolioHeader {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  display: inline-block;
}

.container-fluid {
  margin: 0 auto;
  margin-left: 40px;
}

.row1 .row2 {
  margin-top: 2.5%;
}

.box {
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.box1 .box2 .box3 .box4 .box5 .box6 {
  background-color: black;
}

.portfolioImage {
  width: 100%;
  max-width: 420px;
  height: 250px;
  opacity: 0.75;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: 1.5s;
}

.portfolioImage:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition-timing-function: ease-in;
  transition: 1s;
}


/* Skill section styling */
#doughnut,#doughnut2,#doughnut3,#doughnut4{
  position: absolute;
}
#skill1,#skill2,#skill3,#skill4{
  position: relative;
}

#skillsHeader {
  font-family: 'Crete Round', serif;
  font-size: 25px;
}

/* Contact form styling */
.contactform {
  padding: 40px 140px 80px 140px;
  margin-bottom: 40px;
}
  
/* Styles the text boxes in the form */
input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #dddddd; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;  
}
  
/* Styles the "submit button" */
input[type=submit] {
  background-color: #484e58;
  color: white;
  padding: 10px 35px;
  border: 1px solid #dddddd;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 5%;
}
  
/* When moving the mouse over the submit button, add a darker grey color */
input[type=submit]:hover {
  background-color: grey;
}


/* Footer */
/* Styles footer and fixes it to bottom */
.footer {
  background-image: url(../images/space.jpg);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85px;
  text-align: center;
  z-index: 100;
}
  
#github {
  height: 30px;
  width: auto;
  margin-top: 20px;
  padding: 0px 20px 0px 15px;
}

#github:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#linkedin {
  height: 30px;
  width: auto;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
}

#linkedin:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#twitter {
  height: 34px;
  width: auto;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
}

#twitter:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.logos {
  display: inline-block;
}

.copyright {
  color: white;
  font-size: 10px;
  margin-top: 10px;
}
